
    <base target="_top">
<meta charset="UTF-8" />
<meta name="author" content="<%- process.env.EDITOR_1 %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%- process.env.SHORT_DESCRIPTION_1 %>">
<meta name="keywords" content="gas, nodejs, aws">
<lint rel="shortcut icon" href="#">
<link rel="icon" href="#">
<link <%- process.env.CSS_TYPE_1 %> rel="stylesheet" href="<%- process.env.CSS_1 %>">
<script type="<%- process.env.SCRIPT_TYPE_1 %>" src="<%- process.env.SCRIPT_1 %>"></script>
<title><%- process.env.TITLE_1 %></title>
