<head>

    <base target="_top">
<meta charset="UTF-8" />
<meta name="author" content="<%- author_1 || process.env.EDITOR_1 %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%- desc_1 || process.env.SHORT_DESCRIPTION_1 %>">
<meta name="keywords" content="<%- keywords_1 || process.env.KEYWORDS_1 %>" >
<lint rel="shortcut icon" href="#">
<link rel="icon" href="#">
<link type="<%- c_type_1 || process.env.CSS_TYPE_1 %>" rel="stylesheet" href="<%- css_1 || process.env.CSS_1 %>">
<script type="<%- s_type_1 || process.env.SCRIPT_TYPE_2 %>" src="<%- script_1 || process.env.SCRIPT_1 %>"></script>
<title><%- title || process.env.TITLE_1 %></title>

</head>
