<!Doctype HTML>
<html lang="en">

	<head>
		
		<%- include('../partials/_head.ejs') %>
		<title><%= title || 'Untitled' %></title>
		
	</head>

	<body>

		<%- include('../partials/_real-website.ejs') %>

	<header>
		
		<%- include('../partials/_nav.ejs') %>

	</header>
		
		<script <%- script_type %> src="<%- myScript %>"></script>
		<script><%- exports_object %></script>
		
	</body>
	
</html>
