<!Doctype HTML>
<html lang="en">

	<head>
		
		<%- include('../partials/_head.ejs') %>
		
	</head>

	<body>

        <%- include('../partials/_real-website.ejs') %>

	<header>
		
		<%- include('../partials/_nav.ejs') %>

	</header>
		
		<script type="<%- process.env.SCRIPT_TYPE_1 || "" %>" src="<%- process.env.SCRIPT_1 || "" %>"></script>
		
	</body>
	
</html>
